@import '~@fluentui/react/dist/sass/References.scss';

.submitTicket {
  .container {
    max-width: 700px;
    margin: 0px auto;
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-black;
    background-color: white;
    padding: 20px;
  }

  .column {
    @include ms-Grid-col;
    @include ms-lg10;
    @include ms-xl8;
    @include ms-xlPush2;
    @include ms-lgPush1;
  }

  .title {
    @include ms-font-xl;
    @include ms-fontColor-black;
  }

  .subTitle {
    @include ms-font-l;
    @include ms-fontColor-black;
  }

  .description {
    @include ms-font-l;
    @include ms-fontColor-black;
  }

  .inputHolder {
    margin-bottom:5px;
  }

  .inputHolder {
    .ms-TextField-fieldGroup:focus {
      border-color: red !important;
    }
  }

  .fileHolder {
    margin: 8px 0;
    label {
      margin-bottom: 4px;
      display: block;
    }
  }

  .button {
    // Our button
    text-decoration: none;
    height: 32px;

    // Primary Button
    min-width: 80px;
    background-color: rgb(0, 120, 212);
    border-color: rgb(0, 120, 212);
    color: $ms-color-white;
    margin-top: 15px;

    // Basic Button
    outline: transparent;
    position: relative;
    font-family: "Segoe UI WestEuropean","Segoe UI",-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: $ms-font-size-m;
    font-weight: $ms-font-weight-regular;
    border-width: 0;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    padding: 0 16px;

    :disabled {
      cursor: block;
      color: red;
    }
    .label {
      font-weight: $ms-font-weight-semibold;
      font-size: $ms-font-size-m;
      height: 32px;
      line-height: 32px;
      margin: 0 4px;
      vertical-align: top;
      display: inline-block;
    }
  }
  .button:disabled {
    cursor: not-allowed;
    color: black;
    background-color:rgba(239, 239, 239, 0.3);
    border-color: rgba(239, 239, 239, 0.3);
  }
}
